@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #E0115F;
  --secondary-color: #f2f2f2;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.home{
  display: flex;
}

/* Pages */
.pages{
  padding: 20px;
  max-width: 100%;
  margin: 0px auto;
}
/* Pages */


button {
  padding: 6px 12px;
  margin-left: 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--secondary-color);
}
.navbar h1 {
  color:  var(--primary-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: var(--primary-color); 
}

.navbar a:active {
  color: var(--primary-color);
}

.navbar button{
  padding: 6px 12px;
  margin-left: 20px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
/* Navbar */


/* Auth */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Set height to full viewport height */
}

.signup form {
  width: 80%; /* Adjust form width as needed */
  max-width: 400px; /* Set maximum width for larger screens */
}

.signup label {
  margin-bottom: 0.5rem; /* Adjust label spacing */
}

.signup input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem; /* Adjust input spacing */
}

.signup button {
  width: 25%;
  margin: 1rem 40%; /* Center button */
  align-items: center;
  cursor: pointer;
}

.signup a
{
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .signup form{
    width: 90%; /* Adjust form width for smaller screens */
  }
}
/* Auth */


/* Tracker List */
.tracker-list {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.tracker-list h2,p {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.tracker-preview {
  max-width: 20%; /* Adjust as needed */
  padding-left: auto;
  padding-right: 20px;
  padding-top: 10px;
  margin: 20px;
  border-radius: 15px;
  border-bottom: 1px solid #fafafa;
  text-align: center;
  min-width: 20%;
}

.tracker-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.tracker-preview a {
  text-decoration: none;
  color: #333;

}

.tracker-preview h3 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .tracker-preview {
      width: calc(50% + 20px); /* Adjust as needed */
  }
}

@media screen and (max-width: 480px) {
  .tracker-preview {
      width: calc(100% - 20px); /* Adjust as needed */
  }
}
/* Tracker List */

/* Tracker Details */
.tracker{
  display: flex;
}

.tracker-details {
  padding: 20px;
  max-width: 50%;
  margin: 0 auto;
}

.tracker-details h2 {
  margin-bottom: 50px;
}

.tracker-details h3 {
  border: 1px solid white;
  width: 25%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 100px;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}



.tracker .notes{
  padding: 20px;
  max-width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  min-width: 25%;
  border-radius: 20px;
  text-align: center;
}

.tracker .notes h2{
  margin-bottom: 5px;
}

.tracker .notes button{
  padding: 6px 12px;
  margin: 25% 50px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
/* Tracker Details */

/* Form */
.tracker-form
{
  margin-top: 30px;
  max-width: 25%;
  margin-left: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  max-height: 525px;
}

.tracker-form button {
  margin-left: 0.5px;
}

.tracker-form label {
  width: 100%;
  margin: 2px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.tracker-form input[type=text], 
.tracker-form input[type=email], 
.tracker-form textarea, 
.tracker-form select,
.tracker-form input[type=date]
{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* Form */

/* Error Page */
.error-container {
  display: flex;
  /*justify-content: center;*/
  /*align-items: center*/
  height: 80vh; 
}

.error {
  /*text-align: center;*/
  padding-left: 20px;
}

.error h1 {
  font-size: 5rem; /* Adjust the size of the "404" */
  margin-bottom: 20px;
}

.error h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  padding-left: 10px;
}

.error p {
  font-size: 1.2rem;
  margin-bottom: 20px;

}

.error a {
  font-size: 1rem;
  color: #E0115F;
  text-decoration: none;
  padding-left: 20px;
}

.error a:hover {
  text-decoration: underline;
}
/* Error Page */


/* Spinner */
.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #f3f3f3; /* Light gray border */
  border-top: 4px solid var(--primary-color); /* Blue border on top */
  animation: spin 1s linear infinite; /* Apply animation */
  margin: auto;
  margin-top: 13%;
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Starting point */
  100% { transform: rotate(360deg); } /* Ending point (full circle) */
}
/* Spinner */


/* Error */
.auth-error{
  color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.2); 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid red;
}
/* Error */